.page-header {
  height: 400px;
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:	#ffe02f;
  background-image: url(/images/brick-wall-dark.png)
}

