nav {
  width: 100%;
  height: 120px;
  top: 0px;
  padding: 1.5em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color:#0057b7;
  background-image: url(/images/brick-wall.png);
  color: #FFFFFF;
  
}

#logo {
  font-family: Bungee, sarif;
  font-size: 2em;
}

nav p {
  margin: 0;
  font-size: 1.25em;
}


.new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.new-tweet-button i {
  color: #ff0000;
}

