article {

  border: #545149 solid 2px;
  margin-top: 40px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f4f1ec;
  
  /* align-items: center;
  word-wrap: break-word; */
}

article.tweet:hover {
  box-shadow: 10px 10px 10px #545149;
}

article header {
 
  display: flex;
  justify-content: space-between;
}

.tweet-content {
  
  border-bottom: #545149 solid 2px;
  text-align: start;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* .icons { 

} */

.icons i:hover {
  color:#e1c319;
}